.wrapper {
    display: flex;
    justify-content:space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
  .icons {
    color: white;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    border: 1px white solid;
    backdrop-filter: blur(60px)
    
  }

}
